    .slider {
        width: 80%;
        max-width: 600px;
        overflow: hidden;
        border: 2px solid #ddd;
        border-radius: 10px;
        margin: auto;
    }
    
    .slides {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    
    .slide {
        min-width: 100%;
    }
    
    .slide img {
        width: 100%;
        display: block;
    }

    footer img{
        width: 3%;
        height: auto;
        background-color: #DE0124 !important;
    }

    footer {
        margin-top: 3em;
        margin-left: 2em;
        background-color: #DE0124 !important;
    }

    header{
        background-color: #019776;
        padding:1em 0em;
        color: #7aa39a;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 300%;
    }
   
    .card *{
        border: white 1px solid;
        background-color: #EB9302 !important;
    }
    nav li{
        border: white 1px solid;
        background-color: #EB9302 !important;
    }
    nav a:hover{
        background-color: #694200;
        color: #EB9302 !important;
    }

    .btn-custom {
        background-color: #DE0124; /* Color coral */
        color: #3B0009;
        border: none;
        margin: 1em 0em 0em 2em;
    }
    
    .btn-custom:hover {
        background-color: #8E081D;
        color: #3B0009;
    }

    .inicio{
        background-color: #DE0124 !important;
        color:#3B0009;
        width: fit-content;
        margin: 1em;
        padding: 0.5em;
    }

    .inicio:hover{
        background-color: #00281f !important;
        color: #019776;
    }

    .cm-service{
        margin: 0;
        padding: 0;
        height: 100vh;
        display: grid;
        place-items: center;
    }
    .cm-service > div {
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 20px;
        text-align: center;
    }
    main{
        margin-bottom: 1em;
    }
   